
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .logoText {
    font-size: 12px;
    color: #fff; /* White text color */
    margin-left: 10px;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .navItem:hover {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #38ad01; /* Bottom border on hover */
  }
  /* app/styles/TextComponent.module.css */
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .projectText {
    font-size: 48px;
    font-weight: bold;
    color: #b3b3b3; /* Initial gray color */
    transition: transform 0.3s, color 0.3s;
  }
  
  .lorumText {
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Initial black color */
    transition: transform 0.3s, color 0.3s;
  }
  
  .projectText:hover,
  .lorumText:hover {
    transform: scale(1.1); /* Slightly bigger on hover */
    color: green; /* Changes to green on hover */
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .rightImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

 
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1.5rem;
  }
  
  .text-block {
    font-size: 1.125rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .read-more {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    position: relative;
  }
  
  .read-more:after {
    content: '—';
    margin-left: 0.5rem;
  }
  
  .read-more:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0 1rem;
      margin: 1.5rem auto;
    }
  
    .text-block {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
  